@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(./assets/blob-haikei.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.center-div{
    padding-top:10%;
}

.btn.btn-success{
    padding:.4em 2em;
}

form{
    padding: 0 3em;
}

.form-group{
    padding: 0.5em;
}

.form-group>small{
    padding: 0.5em;
}
#loginTxt{
    font-size: 12.8px;
}

