@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background-image: url(./assets/blob-haikei.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top:10%;
}

.btn.btn-success{
    padding:.4em 2em;
}

.container{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
form{
    padding: 0 3em;
}

.form-group{
    padding: 0.5em;
}

.form-group>small{
    padding: 0.5em;
}
#loginTxt{
    font-size: 12.8px;
}

